  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a
        routerLink="/" 
        class="navbar-brand">
          <img src="./assets/images/ask.png" width="64" />
          <span style="color:whitesmoke; vertical-align: bottom; font-weight: bold; font-size: 45px; font-family: cursive;">Ask Solti</span>      
      </a>
      <button (click)="toggleNavbar()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div 
        [ngClass]="{ 'show': navbarOpen }"
        style="padding-left: 40%;"
        class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul
          style="padding-top: 15px;" 
          class="navbar-nav mr-auto">
          <li
            *ngFor = "let item of menu"
            class="nav-item active">
            <a routerLink="/{{ item.link }}" class="nav-link"> 
              <span>{{ item.title }}</span>
            </a>
          </li>
          <li ngbDropdown class="nav-item dropdown">
            <a 
              ngbDropdownToggle
              class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Register
            </a>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item">Login</a>
              <a class="dropdown-item">Change Password</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item">Log Out</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>