<div *ngFor="let item of post" class="card border ">
    <div class="bg border" style="padding:10px 10px 10px 10px;">
        <ng-template #content let-modal>
            <div class="modal-header">
                <h6 class="modal-title" id="modal-basic-title">Add a Comment</h6>
                <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <div class="input-group">
                                <textarea type="text" id="txtComment" class="form-control" rows="10"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-dark btn-link" (click)="modal.close('Save click')">Save</button>
                </div>
        </ng-template>
        <div>
            {{ item.postTitle }}
        </div> 
    </div>
    <div style="float: left;">
        <button class="btn btn-link" (click)="open(content)">
            <img src="../../assets/images/comment.png" width="24" height="24">
        </button>

        <div style="float: right; padding-right: 10px; padding-top: 10px;">
            <ngb-rating style="color: #343a40;" [(rate)]="currentRate"></ngb-rating>
            <!-- <hr>
            <pre>Rate: <b>{{currentRate}}</b></pre> -->
        </div>
    </div>

<div
    *ngFor = "let item of post" 
    style="padding-left: 20px; padding-right: 20px;" 
    class="my-3 p-3 bg-white rounded shadow-sm"
    class="media text-muted pt-3">
    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark">@Post Owner</strong>
        {{ item.postContent }}
    </p>
</div>
    <div
        *ngFor = "let comment of item.comments" 
        style="padding-left: 20px;" 
        class="my-3 p-3 bg-white rounded shadow-sm"
        class="media text-muted pt-3">
        <img style="padding: 5px; border-radius: 100%;" width="48" height="48" src="../../assets/images/profile.jpg" />
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
            <strong class="d-block text-gray-dark">@{{comment.username}}</strong>
            {{ comment.commentContent }}
        </p>
    </div>
</div>